img{
    margin-top: 20px;
    width: 250px;
    height: 200px ;
}
.container{
    text-align: center;
}
.mini{
    text-align: center;
}
.mini-mini{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
   margin-left: 300px;
   font-size: 20px;
}
input{
    width: 160px;
    height: 20px;
    border: 1px solid black;
    background-color: aqua;
   color: crimson;
    border-radius: 20px;
}
button{
    width: 60px;
    height: 20px;
    background-color: aqua;
   color: crimson;
    border: 1px solid black;
    border-radius: 20px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}